.heading{
    width: 100%;
    text-align: left;
}

.heading h2{
    display: inline;    
}

.heading button{
    float: right;
    border-radius: 15px;
    border: 1px solid black;
}

.marioImg{
    width: 100%;
}

#playButton{
    background-color: rgb(255, 51, 0);
    font-size: 15px;
    border: 2px solid darkred;
    border-radius: 50px;
    width: 80px;
    height: 50px;
}

#status{
    font-size: 18px;
}

.modal-dialog{
    width: 50%;
}

.instruction_images{
    display: inline-block;
    width: 40%;
}

#gameConsole{
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 4px;
}